* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: monospace;
}
body{
  padding: 10px;
  text-align: center;
}
a{
  text-decoration: none;
}
img{
  border-style: none;
}
div{
  padding: 10px;
}
h1{
  padding:10px;
  width: 100%;
  font-family: monospace;
  font-size: 3em;
}
.flex{
  flex-flow: row;
  border-style:none;
}
.image{
  padding: 10px;
}
#point{
  font-family: monospace;
  font-size: 2em;
}
#point2{
  font-family: monospace;
  font-size: 3em;
}
